@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #e6e6e6;
  --muted: #8a8a8a;

  --brand-red: #ff2a2a;
  --brand-gold: #d4af37;
  --brand-glow: #00ffc8;
}

body {
  background: var(--background);
  color: var(--foreground);
}

::selection {
  background: var(--brand-red);
  color: #fff;
}

/* Clean scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
